
@{

    Layout = "~/Views/Shared/_template.cshtml";
}
@using (Html.BeginForm("Gravar", "Categoria", FormMethod.Post))
{

<input type="hidden" name="cod" value="@ViewBag.cod" />
<div class="form-group">
    <label>Nome da categoria</label>
    <input class="form-control" placeholder="Digite aqui.." id="nome_categoria" name="nome_categoria" value="@ViewBag.nome" />
    <label id="val_nome_categoria" class="estilo-validar"></label>
</div>
<button type="submit" class="btn btn-success" onclick="return ValidarCampos(1)" name="btn" value="salvar">Salvar</button>
<button type="submit" class="btn btn-danger" name="btn" value="excluir">Excluir</button>
}
