<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <!--IMAGEM PERFIL USUÁRIO
            <li class="text-center">
                <img src="assets/img/find_user.png" class="user-image img-responsive"/>
            </li>-->

            <li>
                <a href="#"><i class="fa fa-sitemap fa-3x"></i> Gerenciar Categoria<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Categoria/Nova">Nova Categoria</a>
                    </li>
                    <li>
                        <a href="/Categoria/Consultar">Consultar/Alterar</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-3x"></i> Gerenciar Empresa<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Empresa/Nova">Nova Empresa</a>
                    </li>
                    <li>
                        <a href="/Empresa/Consultar">Consultar/Alterar</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-3x"></i> Gerenciar Banco<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Banco/Nova">Novo Banco</a>
                    </li>
                    <li>
                        <a href="/Banco/Consultar">Consultar/Alterar</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-3x"></i> Gerenciar Conta<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Conta/Nova">Nova Conta</a>
                    </li>
                    <li>
                        <a href="/Conta/Consultar">Consultar/Alterar</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-3x"></i> Gerenciar Movimento<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Movimento/Nova">Realizar Movimento</a>
                    </li>
                    <li>
                        <a href="/Movimento/Consultar">Consultar/Alterar</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="/Usuario/Deslogar"><i class="fa fa-close-o fa-3x"></i>  Sair</a>
            </li>
        </ul>

    </div>

</nav>
